.footer-primary {
  background-color: $brand-secondary;

  // .footer-primary-inner
  &-inner {
    display: grid;
    row-gap: 43px;
    grid-template-areas:
      'nav'
      'contact'
      'support';

    @include media-breakpoint-up('lg') {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        'nav nav'
        'support contact';
    }
  }

  .footer-nav {
    margin-top: 48px;

    display: flex;
    flex-wrap: wrap;
    row-gap: 43px;
    grid-area: nav;

    @include media-breakpoint-up('lg') {
      flex-wrap: nowrap;
      column-gap: 110px;
    }

    ul {
      flex-basis: 50%;

      @include media-breakpoint-up('lg') {
        flex-basis: auto;
      }
    }
  }

  .footer-contact {
    grid-area: contact;

    @include media-breakpoint-up('lg') {
      align-self: end;
    }

    h1 {
      font-weight: 100;
    }

    span {
      font-weight: bold;
    }

    a {
      display: block;
    }

    a:nth-of-type(2) {
      color: $brand-primary;
    }
  }

  .footer-support {
    grid-area: support;
    justify-self: center;
    margin-bottom: 48px;

    @include media-breakpoint-up('lg') {
      justify-self: start;
      align-self: end;
    }

    ul {
      display: flex;
      font-size: 16px;
      gap: 24px;
    }

    i {
      color: $brand-primary;
      margin: 12px;
      font-size: 48px;
      display: block;
      align-items: center;
    }
  }
}
